@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600; 700; 800; 900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    /*theme 1*/
    --bg-color: #000000;
    --second-bg-color: #272838;
    --third-bg-color: #15162481;

    --lighter-bg-color:#D6F6DD;
    --lighter-bg-color-2:#1e1e29;

    --text-color: #fff;

    --main-color: #ff59c7;
    --main-color-2: #59FF91;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    transition: .3s ease;
}

.logo:hover,
.logo:active {
    color: var(--main-color-2);
    text-shadow: 0 0 1rem var(--main-color-2);

}

.navbar {
    float: left;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left:  4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color-2);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, var(--lighter-bg-color-2) 50%,transparent 50%); /* Diagonal gradient slash */
    transform-origin: bottom left; /* Set the transformation origin */
    
}

.home-content h3 {
    font-size: 2.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.5;
}

.home-content p {
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

span {
    color: var(--main-color-2);
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.5rem .7rem 3rem;
    transition: .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1.1rem 1.4rem 1rem 1.4rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    background-color: var(--third-bg-color); 
    justify-content: center;
    background: linear-gradient(50deg, var(--lighter-bg-color-2) 50%,transparent 50%); /* Diagonal gradient slash */
    transform-origin: bottom left; /* Set the transformation origin */
    position: relative;
}

.about h1 {
    font-size: 25px;
    padding-top:1cm;
}

span {
    color: var(--main-color-2);
}

id {
    color: var(--main-color);
}

.about-boxes  {
    background-color: var(--third-bg-color); 
    backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */
    display: flex;
    height: fit-content;
    overflow:scroll;
    width:fit-content;
    transition: transform 0.5s ease;
    margin-top: 80px;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for transparency */
}

.about-box {
    flex:0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size:25px;
    height: 500px;
    background-image: url(images/aboutimg/randommono1.png);
    background-size: 100%;
}

.about i {
    position:absolute; /*problem*/  
    margin-top: -70px;
    right: 105px;
    font-size: 60px;
    transition: 0.1s ease-in-out;
}

.about i:hover {
    text-shadow: 0 0 1rem var(--main-color);
    color: var(--main-color);
}

.portfolio {
    background-color: var(--third-bg-color); 
    justify-content: center;
    background: linear-gradient(50deg, var(--lighter-bg-color-2) 50%,transparent 50%); /* Diagonal gradient slash */
    transform-origin: bottom left; /* Set the transformation origin */
}

.portfolio img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.portfolio-line1,
.portfolio-line2 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

.portfolio-line1 div,
.portfolio-line2 div {
    justify-content: center;
    padding: 40px;
    font-size:15px;
    backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */
    height: 290px;
    width: 379px;
    margin: 30px 30px 5px 5px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add a box-shadow here */
    transition: 0.1s ease-in-out;
}

.portfolio-line1 div:hover,
.portfolio-line2 div:hover{
    transform:  scale(1.05);
}

.portfolio p {
    position: absolute;
    bottom: 10px;
}

.portfolio h1 {
    font-size: 25px;
}

.services{
    background-color: var(--third-bg-color); 
    justify-content: center;
    background: linear-gradient(50deg, var(--lighter-bg-color-2) 50%,transparent 50%); /* Diagonal gradient slash */
    transform-origin: bottom left; /* Set the transformation origin */
    position: relative;
}

.service-line1,
.service-line2 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

.service-line1 div,
.service-line2 div {
    justify-content: center;
    padding: 40px;
    font-size:15px;
    backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */
    height: 290px;
    width: 379px;
    margin: 30px 30px 5px 5px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add a box-shadow here */
    transition: 0.1s ease-in-out;
    position:relative;
}

.service-line1 p,
.service-line2 p{
    position: absolute;
    bottom: 10px;
}

.service-line1 div:hover,
.service-line2 div:hover{
    transform:  scale(1.05);
}

.services h1 {
    font-size: 25px;
}

.contact{
    text-align: center;
    background-color: var(--third-bg-color); 
    justify-content: center;
    background: linear-gradient(50deg, var(--lighter-bg-color-2) 50%,transparent 50%); /* Diagonal gradient slash */
    transform-origin: bottom left; /* Set the transformation origin */
    position: relative;
}

.contact-containter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container input{
    backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */
    margin: 10px;
}

.contact-line2{
    margin-bottom: 10px;
}

.contect-container textarea{
    backdrop-filter: blur(5px); /* Apply a blur effect to the backdrop */

}

.contact h1 {
    font-size: 35px;
    color: rgb(178, 178, 178);
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 20px;
}







